 .header1{
     margin-left: 60px;
     width: 600px;
     height:550px;
     background-image:url("images/header.gif");
     background-repeat: no-repeat;
     float:left;
     
 }
 .header2{
     width:600px;
    height:289px;
    background-image:url("images/header2.gif");
    background-repeat: no-repeat;
    float:left;
}
 .nav{
     background-color:#8450A5;
     opacity: 0.7;
 }

 .mainLink{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: xx-large;
     text-decoration: none;
     color:white;
     padding-left:20px;   
 }

 .about_us{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-decoration: none;
    color:white;
    float:right;
    padding-right: 40px;
 }
 
 .social-media{
    float: left;
    width:200px;
    border: 1px solid red;
    margin-top: 20%;
 }
 ul{
    border: 1px solid red;
     float:left;
 }